body {
    background-image: url("../images/unc-argyle-bg.jpg");
    text-align: center;
}

button {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 24px;
    color: #4B9CD3;
}

ul {
  list-style-type: none;
}

h2 {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 36px;
    color: #4B9CD3;
}

p {
    font-weight: bold;
}

#main-div {
    background: #fff;
    border: 2px solid gray;
}

#title {
    margin-top: 20px;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 24px;
    color: #4B9CD3;
}

#stats {
    font-size: 24px;
}

#timer {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 24px;
    color: #4B9CD3;
}
